/* src/pages/SignUp.css */
.container {
  max-width: 400px;
  margin: auto;
}

.card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #003366; /* Dark blue */
}

h2 {
  margin-bottom: 20px;
}

.btn-primary {
  width: 100%;
}
