/* Navbar.css */

nav {
  /* No backdrop filter */
}

.container {
  max-width: 1200px; /* You can adjust this value as needed */
}

a {
  font-size: 1.1rem; /* Adjust font size */
}

a:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* Additional styles for responsiveness can be added here */
